
    <form>
        <div class="form-group">
            <label for="title">Editing title</label>
            <input type="text" class="form-control" id="title"
                   ng-model="editedBookmark.title">
        </div>
        <div class="form-group">
            <label for="url">Editing URL</label>
            <input type="text" class="form-control" id="url"
                   ng-model="editedBookmark.url">
        </div>
        <button type="submit" class="btn btn-info">Create</button>
        <button type="button" class="btn btn-default pull-right"
                ng-click="cancelEditing()">Cancel</button>
    </form>


